* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Regular/Roboto-Regular.eot"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Regular/Roboto-Regular.otf") format("opentype"); /* OTF/TTF are often used as fallbacks for older or less-supported browsers */
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/"), url("../fonts/Roboto/Medium/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Medium/Roboto-Medium.otf") format("opentype"); /* OTF/TTF are often used as fallbacks for older or less-supported browsers */
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  line-height: 1.64;
  font-size: 3rem;
}

h2 {
  line-height: 1;
  font-size: 2rem;
}

h3 {
  font-size: 1.3125rem;
}

p {
  line-height: 1.64;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  line-height: 1.75;
}

button {
  border: none;
  cursor: pointer;
}

.description {
  width: 540px;
  color: #727272;
}
@media (max-width: 768px) {
  .description {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .description {
    width: 270px;
    margin-inline: auto;
  }
}

.title {
  margin-bottom: 50px;
  color: #000000;
}

.text-center {
  text-align: center;
}

.center {
  margin-inline: auto;
}

.btn {
  width: 225px;
  height: 65px;
  background-color: #34547A;
  font-size: 0.88rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2.02px;
}

.header {
  padding: 79px 0 141px 0;
  background-color: #EEEFF1;
}
@media (max-width: 992px) {
  .header {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .header {
    text-align: center;
  }
}
.header__title {
  margin-top: 144px;
  margin-bottom: 34px;
  color: #000000;
}
@media (max-width: 992px) {
  .header__title {
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .header__title {
    margin-top: 40px;
  }
}
.header__btn {
  margin-top: 57.5px;
  padding-top: 3.5px;
}

/*
** Navigation
*/
.navigation {
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .navigation {
    display: flex;
    text-align: center;
  }
}
.navigation__list {
  display: flex;
}
@media (max-width: 768px) {
  .navigation__list {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigation__burger {
    display: flex;
    position: relative;
  }
  .navigation__burger::after, .navigation__burger::before, .navigation__burger span {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background: #000000;
  }
  .navigation__burger::after {
    top: 12px;
    left: 0;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .navigation__burger::after {
    top: 12px;
    left: 100px;
  }
}
@media (max-width: 768px) {
  .navigation__burger::before {
    top: -12px;
    left: 0;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .navigation__burger::before {
    top: -12px;
    left: 100px;
  }
}
@media (max-width: 768px) {
  .navigation__burger span {
    top: 0;
    left: 0;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .navigation__burger span {
    top: 0;
    left: 100px;
  }
}
.navigation__item--active .navigation__link {
  color: #34547A;
}
.navigation__item:first-child {
  padding-right: 22px;
}
.navigation__item ~ .navigation__item {
  padding: 0 25px;
}
.navigation__item:nth-child(2) {
  padding-right: 25px;
}
.navigation__item:nth-child(3) {
  padding-right: 32px;
}
.navigation__item:nth-child(4) {
  padding-right: 21px;
}
.navigation__link {
  letter-spacing: 2.1px;
  color: #000000;
}

.footer {
  background: #34547A;
  padding: 50px 0;
  color: #ffffff;
}
@media (max-width: 480px) {
  .footer {
    text-align: center;
  }
}
.footer__name {
  font-size: 21px;
  line-height: 1;
  margin-bottom: 20px;
}
.footer__copyright {
  font-size: 13px;
  line-height: 1.65;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  .container {
    width: 992px;
    padding: 30px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 460px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 295px;
  }
}

.about-me {
  padding: 112px 0 100px 0;
}
@media (max-width: 992px) {
  .about-me {
    padding-top: 80px;
  }
}

.numbers {
  padding: 100px 0 100px 0;
  background-color: #34547A;
}
@media (max-width: 480px) {
  .numbers {
    padding-top: 40px;
    padding-bottom: 0px;
  }
}
.numbers__container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
}
@media (max-width: 480px) {
  .numbers__container {
    flex-direction: column;
    place-content: center;
  }
}
@media (max-width: 480px) {
  .numbers__container:last-child {
    padding-bottom: 0;
  }
}
@media (max-width: 480px) {
  .numbers__project-card {
    margin-bottom: 40px;
  }
}

/*
** project-card
*/
.project-card {
  display: flex;
}
.project-card__info {
  display: flex;
  flex-direction: column;
}
.project-card__image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}
.project-card__amount {
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
}
.project-card__name {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.64;
  color: #ffffff;
}

.wrap {
  padding: 100px 0 100px 0;
}
@media (max-width: 992px) {
  .wrap {
    padding-bottom: 0;
  }
}
@media (max-width: 480px) {
  .wrap {
    padding-top: 50px;
  }
}
.wrap__description {
  margin-bottom: 57px;
}
.wrap__photo {
  position: relative;
  width: 1110px;
  height: 600px;
}
@media (max-width: 1200px) {
  .wrap__photo {
    width: 900px;
    margin-inline: auto;
  }
}
@media (max-width: 992px) {
  .wrap__photo {
    width: 700px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .wrap__photo {
    width: 350px;
    height: 250px;
  }
}
@media (max-width: 480px) {
  .wrap__photo {
    width: 235px;
    height: 150px;
  }
}
.wrap__image {
  width: 100%;
}
.wrap__photo::after {
  position: absolute;
  content: "";
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: url("../../images/play-button.png") center/contain no-repeat;
}
@media (max-width: 1200px) {
  .wrap__photo::after {
    top: 35%;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 992px) {
  .wrap__photo::after {
    top: 40%;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .wrap__photo::after {
    top: 35%;
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=main.css.map */