
@use 'variables' as *;
@use 'service-classes' as *;
@use 'mixin' as *;

/*
** Navigation
*/
.header {
  padding: 79px 0 141px 0;
  background-color: $grey-light;

  @include respond-to(lg){
    padding-top: 40px;
    padding-bottom: 100px;
  }

  @include respond-to(xs){
    text-align: center;
  }

  &__title {
    margin-top: 144px;
    margin-bottom: 34px;
    color: $black;

    @include respond-to(lg){
      margin-top: 100px;
    }

    @include respond-to(xs){
      margin-top: 40px;
    }
  }

  &__btn {
    width: 225px;
    height: 65px;
    margin-top: 57.5px;
    padding-top: 3.5px;
    background-color: $primary-color;
    font-size: 0.88rem;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2.02px;
  }
}

/*
** Navigation
*/
.navigation {
  text-transform: uppercase;
  
  @include respond-to(xs){
    display: flex;
    text-align: center;
  }

  &__list {
    display: flex;

    @include respond-to(md){
      display: none;
    }
  }

  &__burger{
    @include respond-to(md){
      display: flex;
      position: relative;

      &::after, &::before, span{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 40px;
        height: 3px;
        background: $black;
      }

      &::after{
        top: 12px;
        left: 0;

        @include respond-to(xs){
          top: 12px;
          left: 100px;
        }
      }
        
      &::before{
        top: -12px;
        left: 0;

        @include respond-to(xs){
          top: -12px;
          left: 100px;
        }
      }

      span{
        top: 0;
        left: 0;

        @include respond-to(xs){
          top: 0;
          left: 100px;
          
        }
      }
    }
  }

  &__item--active &__link {
  color: $primary-color;

  }

  &__item:first-child {
    padding-right: 22px;
  }

  &__item ~ &__item {
    padding: 0 25px;
  } 

  &__item:nth-child(2) {
    padding-right: 25px;
  }

  &__item:nth-child(3) {
    padding-right: 32px;
  }

  &__item:nth-child(4) {
    padding-right: 21px;
  }

  &__link {
    letter-spacing: 2.1px;
    color: $black;
  }
}

.about-me {
  padding: 112px 0 100px 0;

  @include respond-to(lg){
    padding-top: 80px;
  }
}

.numbers {
  padding: 100px 0 100px 0;
  background-color: $primary-color;

  @include respond-to(xs){
    padding-top: 40px;
    padding-bottom: 0px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;

    @include respond-to(xs){
      flex-direction: column;
      place-content: center;
    }

    &:last-child{
      @include respond-to(xs){
        padding-bottom: 0;
      }
    }
  }

  &__project-card{
    @include respond-to(xs){
      margin-bottom: 40px;
    };
  }
}
/*
** project-card
*/
.project-card {
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 50px;
    height: auto;
    margin-right: 20px;
  }

  &__amount {
    font-size: 1.3125rem;
    font-weight: 500;
    line-height: 1;
    color: $white;
  }

  &__name {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.64;
    color: $white;
  }
}
/*
** wrap 
*/
.wrap{
  padding: 100px 0 100px 0;

  @include respond-to(lg){
    padding-bottom: 0;
  }

  @include respond-to(xs){
    padding-top: 50px;
  }

  &__description{
    margin-bottom: 57px;
  }

  &__photo{
    position: relative;
    width: 1110px;
    height: 600px;

    @include respond-to(xl){
      width: 900px;
      margin-inline:auto;
    }

    @include respond-to(lg){
      width: 700px;
      height: 400px;
    }

    @include respond-to(md){
      width: 350px;
      height: 250px;
    }

    @include respond-to(xs){
      width: 235px;
      height: 150px;
    }
  }

  &__image{
    width: 100%;
  }

  &__photo::after{
    position: absolute;
    content: '';
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url('../images/play-button.png') center / contain no-repeat;

    @include respond-to(xl){
      top: 35%;
      width: 80px;
      height: 80px;
    }

    @include respond-to(lg){
      top: 40%;
      width: 60px;
      height: 60px;
    }

    @include respond-to(md){
      top: 35%;
      width: 50px;
      height: 50px;
    }
  }

}
/*
** footer
*/
.footer{
  background: $primary-color;
  padding: 50px 0;
  color: $white;

  @include respond-to(xs){
    text-align: center;
  }

  &__name{
    font-size: 21px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__copyright{
    font-size: 13px;
    line-height: 1.65;
  }
}
