
@use '../base/variables' as *;
@use '../base/mixin' as *;

.footer{
  background: $primary-color;
  padding: 50px 0;
  color: $white;

  @include respond-to(xs){
    text-align: center;
  }

  &__name{
    font-size: 21px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__copyright{
    font-size: 13px;
    line-height: 1.65;
  }
}
