
@use '../base/variables' as *;
@use '../base/mixin' as *;

.description {
  width: 540px;
  color: $grey-dark;

  @include respond-to(md){
    width: 400px;
  }

  @include respond-to(xs){
    width: 270px;
    margin-inline:  auto;
  }
}

.title {
  margin-bottom: 50px;
  color: $black;
}

.text-center {
  text-align: center;
}

.center{
    margin-inline: auto;
}
